---
http_interactions:
- request:
    method: get
    uri: https://api.fantasydata.net/v3/mlb//stats/json/CurrentSeason
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - 9200ef74a8cc4d379222e1e3c9dcaa1c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 31 Aug 2018 02:12:36 GMT
    body:
      encoding: UTF-8
      string: '{"Season":2018,"RegularSeasonStartDate":"2018-03-23T00:00:00","PostSeasonStartDate":"2018-10-02T00:00:00","SeasonType":"REG","ApiSeason":"2018REG"}'
  recorded_at: Fri, 31 Aug 2018 02:11:03 GMT
recorded_with: VCR 4.0.0
